
@model SurveyDemoApp.ViewModels.NewSubmissionViewModel

@{
    ViewBag.Title = "NewSubmissionViewModel";
}

<h3>Please complete the following form</h3>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                @foreach (Question question in Model.allQuestions)
                {
                    <div class="form-group">
                        <input asp-for="@question.Id" type="hidden" value="@question.QuestionNo" class="control-label"/>
                        <label asp-for="@question.QuestionNo" class="control-label">@question.QuestionNo</label>
                        <label asp-for="@question.QuestionText" class="control-label">@question.QuestionText</label>
                        <input value="" class="form-control" />
                    </div>
                }

            <div class="form-group">
                <input type="submit" value="SaveAnswer" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

